node_modules
**/node_modules
.vscode
cache
out
volume
docs/site/.docusaurus

packages/binaries/midnight-node/midnight-node/midnight-node
packages/binaries/midnight-node/midnight-node/midnight-node-*
packages/binaries/midnight-indexer/indexer-standalone/indexer-standalone
packages/binaries/midnight-indexer/indexer-standalone/indexer-standalone-*
midnight-proof-server/proof-server/midnight-proof-server
midnight-proof-server/proof-server/midnight-proof-server-*

e2e/contracts/midnight/compactc
**/midnight-level-db