**/node_modules
forge-std
/logs/

# e2e tests
/cache
/out
journal.jsonl
e2e-bitcoin-batcher-data/
e2e-midnight-batcher-data/
midnight-level-db*
batcher-debug.log
.orchestrator-logs/
e2e/**/logs/
# Frontend
.vite
dist/

# Playwright
test-results/
playwright-report/

# Batcher file storage
batcher-data/
e2e-batcher-data/

# Docusaurus
.docusaurus/

tmp/
# System files
.DS_Store
.cursor
/example/