**/node_modules
forge-std
logs/

# e2e tests
/cache
/out
journal.jsonl

# Frontend
.vite

# Batcher file storage
batcher-data/

# Docusaurus
.docusaurus/

tmp/
# System files
.DS_Store
.cursor
midnight-level-db*
