<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paima Example</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">
            <h2>Connect Wallet</h2>
            <div id="address">Not connected</div>
            <button id="login" onclick="walletLogin()">Connect Wallet</button>
            <br>
            <br>
            <h2>Send Transaction to PaimaL2 Contract</h2>
            <input id="transaction-input" type="text" value="" placeholder="Enter your message">
            <button id="Sent TX to Paima L2" onclick="sendTransactionPaimaL2()">Send TX</button>
            <hr>
            <h2>PaimaL2 Contract: Data Received</h2>
            <button onclick="fetchAccountingData()">Refresh Paima L2 data</button>
            <pre id="accounting-data"></pre>
        </div>
    </body>
</html>

<script type="module" src="./min.js">
</script>

<script>
    function hexToString(hex) {
        if (!hex.startsWith('0x')) return hex;
        return decodeURIComponent(hex.slice(2).replace(/(..)/g, '%$1'));
    }

    async function fetchAccountingData() {
        const response = await fetch('http://localhost:9999/fetch-primitive-accounting');
        const data = await response.json();

        const processedData = data.map(item => {
            if (item.payload?.data) {
                try {
                    const decodedData = hexToString(item.payload.data);
                    item.payload.decoded_data = JSON.parse(decodedData);
                } catch (e) {
                    item.payload.decoded_data = 'Error decoding data';
                }
            }
            return item;
        });

        processedData.sort((a, b) => b.id - a.id);
        document.getElementById('accounting-data').innerText = JSON.stringify(processedData, null, 2);
    }

    async function walletLogin() {
        console.log(window.paima);
        const result = await paima.login();
        const { metadata, provider } = result;
        const { address: address1 } = provider;
        const address2 = await provider.getAddress();
        console.log(provider);
        console.log({ address1, address2 });
        document.getElementById('address').innerText = address2.address;
    };

    async function sendTransactionPaimaL2() {
        const input = document.getElementById('transaction-input').value;
        const result = await paima.sendTransactionPaimaL2(input);
        console.log(result);
        await fetchAccountingData();
    }
    
</script>